/* Sombra de texto */
.sombra {
  text-shadow: #20b2aa 2px 2px 5px;
}

hr {
  height: 4px;
  border: none;
  background-color: #414040;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.destaque-texto {
  text-transform: uppercase; /* deixar em letra maiúscula */
}
