/* Folha de Estilos GLOBAL 
Será usada por elementos em todos os componentes da aplicação React */

*,
*::after,
::before {
  box-sizing: border-box;
} /* ::after significa espaço após o conteudo da tag <p>xxxx   </p>, ::before significa espaço antes do conteudo da tag <p>    xxxx</p>*/

/* Reset */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  text-align: center;
}

html {
  font-size: 18px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333232;
}

/* Sobra para Bloco/Box */
.sombra {
  box-shadow: red 0 0 10px;
  background-color: white;
}

.destaque-texto {
  background-color: #20b2aa;
  padding: 4px;
  border-radius: 4px;
}

.centralizar {
  text-align: center;
}

header p {
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
}

/* CSS para para Conteudo e Artigo */

.main {
  /* max-width: 800px; */
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 20px;
  text-align: center;
}
article {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 5px;
}
h2 {
  font-size: 30px;
}
h3 {
  color: #20b2aa;
}
